* {
  box-sizing: border-box;
}


body {

/*background-color: rgba(249, 120, 120, 1.0); */
font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: normal;
}

html{scroll-behavior:smooth}

#main_wrapper {

width: 100%;
min-height: 100%;
position: relative;
padding: 0px 40px;
top: 0px;
/*  border: 30px solid pink;
border-radius: 80px;
background-color: white;

*/
}

header {
    display: flex;
      flex-direction: row;
      justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
 
  
    flex-wrap: wrap;
    font-size: 0.6em;
    height: 120px;
    text-align: center;
    align-items: center;
  

  padding: 20px 30px;
   gap: 0px 0px;

   


}

.title-break {
        display: block;
    }

h1  {
font-family: platelet, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 2.2em;
flex-shrink: 3;

} 
h1 strong {
font-family: platelet, sans-serif;
font-weight: 700;
font-style: normal;
text-transform: uppercase;

}

header a {
  color: black  ;
  text-align: center;
  text-decoration: none;
  
}

#logo{
  height: 160px;
  display: inline-flex;
  width: auto;
  margin: 0px;
  transition: 0.2s all ease-in-out;
}

#modal {
  margin: 0px 10px 0px 10px;
  vertical-align: center;
  transition: 0.5s all ease-in-out;
  padding: 10px;
  font-family: futura-pt, sans-serif;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2.2em;
  color: black;

}



#modal:hover a{

  color: red;

}


.border {
  border: 2px solid black;
  padding: 0.3em 0.1em 0.3em 0.1em;
 
   transition: 0.5s all ease-in-out;
}

.border:hover {
  background-color: #F97878 ;

  transition: 0.5s all ease-in-out;
}

section {
  position: relative;
  top: 160px;
}

#grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    width: 100%;
    height: 100%;
    top: 20px;
    overflow: auto;
    margin: 0px auto;
    grid-gap: 10px 30px;
    overflow: hidden;
  
}

article {
    grid-column-start: 1;
  grid-column-end: 3;

}

article img{
   border-radius: 30px;

  transition: 0.5s;
}
article img:hover {
  border-radius: 0px;
  transition: 0.5s;
}

hr  {  
width: 100%;  
height: 8px;
background-color: black;
position: absolute;
border-radius: 200px;
top: 80px;  
}  

#arrow {
  width: 15vw;

}
#arrow:hover{
  width: 15vw;
transform: translateY(-15px);

}
h3 {
 font-size:3em;
  font-family: futura-pt, sans-serif;
font-weight: lighter;
  font-style: normal;
  transition: 1s;
  line-height: 1.3em;
 letter-spacing: 0.05em;
  padding-top: 40px;
  margin: auto;
   margin-bottom: 40px;
  width: 87vw;
  text-align: left;
}

}


mark {
  background-color: rgba(249, 120, 120, 0.4);
}



figcaption {
  padding: 5px 0px 10px 2px;
font-size: 2em;
}

h5 {
  font-size: 0.7em;
}
img {
    width: 100%;
  height: auto;

}

button {
  opacity: 1;
  font-style: italic;
  z-index: 600;
  font-size: 1.1em;
  font: 'Anonymous Pro', monospace;
  line-height: 1;
  width: 100%;
  padding: 1em 0.5em;
  border: 0px;
  background-color: white;
letter-spacing: 2px;
transition: 0.2s all ease-in-out;
}

.title {
  opacity: 1;
  font-style: italic;

  z-index: 600;
  font-size: 1.4em;
  font: ''Anonymous Pro', monospace';
  line-height: 1;
  width: 100%;
  padding: 0.7em 0.7em;
  border: 0px;
  background-color: white;
letter-spacing: 0.5px;
transition: 0.2s all ease-in-out;
}


 /*.thumbnail {
   overflow: hidden;
   position: relative;
   display: block;
  margin: 0 auto;
            width: 100%;
            height: 50vh;
           
        }
      
        .thumbnail img {
            width: 100%;
            transition: 0.5s all ease-in-out;

        }
      
        .thumbnail:hover img {
            transform: scale(1.5) rotate(10deg);
        }
       
*/


.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  transition: 0.2s all ease-in-out;
}

/*about section */
#apropos {
  width: 105vw;
    height: 100vh;
    overflow: scroll;
    position: fixed;
    left: -2.5vw;
    top: 0px;
    z-index: 3000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.3);
}


#apropos p {
    width: 90vw;
    height: auto;
    margin: 40px auto;
    font-size: 1.4em;
    color: black;
    padding: 30px 2em 20px 2em;
    vertical-align: top;
    text-align: left;
    background-color: white;
    border: 2px solid;
    line-height: 1.1em;

  }

 
#apropos a:link {

  color: black;
  border: 2px solid;
  text-decoration: none;
  font-style: normal;
  padding: 5px;
  margin:  10px 5px;
  font-size: 1em;
align-content: center;


transition: 0.5s all ease-in-out;
}


#apropos a:visited {
  color: black;
  text-decoration: none;
  transition: 0.5s all ease-in-out;
}
#apropos a:hover {
color: black;
   border: 2px solid;
   background-color: #F97878;
}


.center {
   display: block;
   text-align: center;
   margin-top: 40px;
   margin-bottom: 20px;
}


#footer {
   position: relative;
  height: 20px;
  background-color: white;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
   grid-column: 3/1;
}

  /* portfolio pages */



  #video {
    position: relative;
   padding: 15px;
   top: 100px;
    width: 100%;

overflow: hidden;
      }

#banner {
    position: relative;
   padding: 15px;
   top: 100px;
    width: 100%;
height: 80vh;
margin-left: auto;
margin-right: auto;
overflow: hidden;
      }


#desc {
 
  display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 100px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
 text-align: center;
   align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid;
    
    
}

#desc li {
  z-index: 6;
width: 40%;
padding: 1em 1em;
margin: 0.5em;
border-left:  0px solid #FFCACA;
border-bottom:  0px solid #FFCACA;

}

#desc p {
  font-size: 1.2em;
  text-align: justify;
border: 2px solid;
padding: 1em;
}

.img1 {
max-width: 100%;
max-height: 100%;
width: 92%;
transform: rotate(1deg);
border: 2px solid;
transition: 0.5s all ease-in-out;
}


.img1:hover{
            transform: scale(1.1) rotate(0deg);
        }


.img2 {
width: 100%;
width: 92%;
transform: rotate(-2deg);
border: 2px solid;
transition: 0.5s all ease-in-out;
}

.img2:hover{
transform: scale(1.1) rotate(0deg);

}
.img3 {
  width: 100%;
  border: 2px solid;
  max-height: 100%;
  transition: 0.5s all ease-in-out;


}

.img3:hover{
transform: scale(1.1) rotate(0deg);

}

.img4 {
  max-width: 100%;
  border: 2px solid;
  max-height: 100%;
  transition: 0.5s all ease-in-out;


}
.img4:hover{
transform: scale(1.1) rotate(0deg);

}