h4

* {
  box-sizing: border-box;
}


body {
/*background: url("../import/img/texture.png");
background-blend-mode: lighten;
background-size: 200%;*/
background-color: rgb(245, 249, 250);
font-family: 'Gotu', sans-serif;
font-weight: 400;
font-style: normal;

font-size: 0.8em;
}

html{scroll-behavior:smooth}

#main_wrapper {


width: 100%;
min-height: 100%;
position: relative;
background-color: rgb(245, 249, 250);
top: 0px;
}
.background {
  position: absolute;
  top: 0px;
  z-index: -50;

}

#scene{
  width: 100%;
}







a {
  text-decoration: none;
  color: black;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    flex-wrap: wrap;
    font-size: 1.6em;
    height: 200px;
    text-align: center;
    align-items: center;
    z-index: 1;
  background-color: rgb(245, 249, 250);
    gap: 0px 0px;
   


}

u {
  text-decoration: none;
  font-style: italic;
}
h1  {
font-family: 'Gotu', sans-serif;
font-weight: 400;
font-style: normal;
font-size: 2.4em;
text-align: left;
padding-left: 20px;
line-height: 1.5;


} 

h1 strong {
font-family: 'platelet', sans-serif;
font-weight: 700;
font-style: normal;
text-transform: uppercase;
}


 

header a {
  color: black  ;
  text-align: center;
  text-decoration: none;

  
}

#logo{
  height: 170px;
  padding: 20px;
  width: auto;
  margin: 0px;
  transition: 0.2s all ease-in-out;
 background-color: rgb(245, 249, 250);
}

#modala {
  margin: 0px 10px 0px 10px;
  vertical-align: center;
  transition: 0.5s all ease-in-out;
  padding: 10px;
font-family: 'Gotu', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: lowercase;
  font-size: 1em;
  color: black;

}



#modala:hover a{

  color: red;

}

i {

font-style: italic;
padding-left: 20px;
font-size: 1.3em;
}
.stickersl {
  display: flex;
  flex-direction: column;
  gap: 20em;
   flex-wrap: wrap;
  position: absolute;
  top: 18em;
  height: 100%;
  position: fixed;
/*z-index: 5000;*/
}

.stickersr{
  width: 50%;
  position: absolute;
  right: 0;
align-items: flex-end;
 display: flex;
  gap: 30em;
  flex-direction: column;
 
   flex-wrap: wrap;
  position: absolute;
  top: 18em;
  height: 100%;
 /* z-index: 5000;*/
}



section {
  position: relative;
  top:0px;
}

#project {
  top: 0px;
  /* background: url("../import/img/texture.png");*/
background-size: 150%;
background-repeat: repeat;
height: 100vh;
}

.fade-out {
  /*animation: fadeOut ease 15s;
  -webkit-animation: fadeOut ease 15s;
  -moz-animation: fadeOut ease 15s;
  -o-animation: fadeOut ease 15s;
  -ms-animation: fadeOut ease 15s;*/
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);


top: 300px;
position: relative;
width: 60vw;
margin: auto;

}@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

#drag_me {
  position: absolute;
width: 15vw;
left: 40vw;
margin-top: 30vh;
background-color: rgb(245, 249, 250);
z-index: 200;

/*border: 4px solid black;*/
padding: 2em;
opacity: 0;
}
#grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    position: relative;
    width: 60vw;
    top: 0vh;
    overflow: hidden;
    margin: 0px auto;
    grid-gap: 0px 20px;
    height: 250vh;
    position: relative;
/*background-color: rgb(245, 249, 250);
*/z-index: -0;

}

#grid article {
  
  background-color: black;
}


#top {
  top: 10px;


width: 95vw;
margin: auto;
/*  background: url("../import/img/me.png");*/
background-size: 100%;
height: 100%;

}

article {
  position: relative;
  overflow: hidden;
  
/*
  background-color: black;*/
  /*border: 2px solid;*/
}
article figcaption {
  position: absolute;
/*  padding:5em;*/
  
  line-height: 5;
/*s*/
  color: white;
  top: 1000px;



}

article:hover figcaption {
  width: 100%;

  top:200px;
 

}


article .span{
  margin-top: 10px;
 
}


h3 {
width: 60vw;
  font-size:3em;
  font-family: 'platelet', sans-serif;
font-weight: 400;
  font-style: normal;
  transition: 1s;
  line-height: 1.3em;
 letter-spacing: 0.05em;
border-top: 3px blue solid;
text-transform: uppercase;
  margin: auto;
  top: 200px;
  padding-top: 0.45em;
  position: relative;
   margin-bottom: 100px;
  text-align: center;
}

h4 {

  font-size:2em;
  font-family: 'platelet', sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: 1s;
  line-height: 2em;
  letter-spacing: 0em;

  text-transform: uppercase;
  margin: auto;
  text-align: center;
}


mark {

  font-weight: 500;
  background-color: rgba(37, 47, 255, 0);
  text-decoration: underline;
  color: rgba(37, 47, 255, 1);
}


.imgwrap {
    display: inline-block;
    overflow: hidden;
  width: 100%;
position: absolute;
}


.imgwrap img {

   /*   transition: 0.3s;*/
      border-radius: 0px;
    width: 100%;
object-fit: cover;

}




h5 {
  font-size: 2.4em;
 font-family: 'Gotu';
 font-weight: 800;
 text-transform: uppercase;
  letter-spacing: 0.1em;
width: 100%;
  color: white;
  text-align: center;
 /* top: 150px;*/
/*  left: 100px;*/
  position: absolute;
   background-color: rgba(0, 0, 255, 0.8);
}

h6 {
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 0.3em;

}

/*img {
    width: 100%;
    height: 100%;
  height: auto;

}*/

button {
  opacity: 1;
  font-style: italic;
  z-index: 600;
  font-size: 1.1em;
  font: 'Anonymous Pro', monospace;
  line-height: 1;
  width: 100%;
  padding: 1em 0.5em;
  border: 0px;
  background-color: white;
letter-spacing: 2px;
transition: 0.2s all ease-in-out;
}

.title {
  opacity: 1;
  font-style: italic;
  z-index: 600;
  font-size: 1.4em;
  font: ''Anonymous Pro', monospace';
  line-height: 1;
  width: 100%;
  padding: 0.7em 0.7em;
  border: 0px;
  background-color: white;
  letter-spacing: 0.5px;
  transition: 0.2s all ease-in-out;
}

/*about section */
#apropos {
  width: 105vw;
    height: 100vh;
    overflow: scroll;
    position: fixed;
    left: -5vw;
    top: 0px;
    z-index: 3000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0);
    
}


#apropos p {
    width: 40vw;
    height: auto;
    margin: 100px auto;
    font-size: 1.3em;
    line-height: 1.3;
    color: black;
    padding: 30px 2em 20px 2em;
    vertical-align: top;
    text-align: left;
     background-color: rgb(245, 249, 250);
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.1);
  }

 
#apropos a:link {

  color: black;
 
  text-decoration: none;
  font-style: normal;
  padding: 10px;
  margin:  20px 10px;
  font-size: 1em;
  align-content: center;
  transition: 0.5s all ease-in-out;
}


#apropos a:visited {
  color: black;
  text-decoration: none;
  transition: 0.5s all ease-in-out;
}
#apropos a:hover {
    color: white;
   background-color: blue;
}


.center {
   display: block;
   text-align: center;
   margin-top: 40px;
   margin-bottom: 20px;
}

footer {

/*border: 2px solid black;*/
  padding-top: 2.5em;
  background-color: rgb(245, 249, 250);
  width: 100%;
  text-align: center;

  padding-bottom: 25px;
   
}

  /* portfolio pages */
/*PORTFOLIO PAGES*/


#next {
 margin-top: 10vh;
  width: 10vw;
  margin-left: auto;
  margin-right: auto;
 text-align: center;
 text-decoration: none;
 color: black;
}

#next:hover {
  color: #e61c60;
}

#bg {
    background: url("../import/img/arrow.svg");
  width: auto;
    height: 200px;
     background-repeat: no-repeat;
     background-position: center;
     transition: 0.5s all ease-in-out;
}

#bg:hover {
    background: url("../import/img/arrow_red.svg");
    width: auto;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s all ease-in-out;
}


#next a {
  font-size: 1.5em;
    font-family: 'Gotu', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

#next a:hover {
  color: #e61c60;
}

  #video {
    position: relative;
  
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    overflow: hidden;
      }

#banner {
    position: relative;
   padding: 15px;
   top: 100px;
    width: 100%;
height: 80vh;
margin-left: auto;
margin-right: auto;
overflow: hidden;
      }

/*PORTFOLOIPAGESPOTFOLIOPAGES
PORTFOLIOPAGES*/

#grid_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows:minmax(20px, auto) repeat(1, 1fr);
    height: auto;
    width: 60vw;
    top: 140px;
    overflow: hidden;
    margin: 0px auto;
    grid-gap: 20px 20px;
    grid-auto-flow: row;
    position: relative;
    justify-content: center;
    align-content: center;

}

figcaption a {
  font-weight: 500;
}
figcaption a:hover {
    color: #e61c60;
}

#grid_section p {
  font-size: 1.4em;
  text-align: left;
  line-height: 1.2em;
font-weight: 400;

}

.img1 {
max-width: 100%;
max-height: 100%;
width: 92%;
transform: rotate(1deg);

transition: 0.5s all ease-in-out;
}






#imgs {
 

  width: 100%;
}



.rot2 {
  transform: rotate(-10deg);
    animation-name: walk;
  animation-duration: 8s;
}


@keyframes walk {
  from {transform: translateX(0px);}
  to {transform: translateX(-1600px);}
}













#gridgrille {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  height: 560px;
  width: 1152px;
  grid-gap: 24px;
  margin-top: calc( 3vh - 25px );
margin-left: auto;
margin-right: auto;

}


#one {
  grid-area: 1 / 1 / 6 / 2;
  background-image: url('../import/img/1.gif') ;
     background-repeat: no-repeat;
     background-position: center top;
       background-size: contain;
}

#one:hover {
  grid-area: 1 / 1 / 6 / 2;
  background-image: url('../import/img/1hover.gif');
  background-repeat: no-repeat;
     background-position: center top;
   background-size: contain;
}


#two {
  grid-area: 1 / 2 / 10 / 4;
  background-image: url('../import/img/2.gif');
  background-repeat: no-repeat;
     background-position: center top;
     background-size: contain;
}


#three {
  grid-area: 1 / 4 / 8 / 5;
  background-image: url('../import/img/3.gif');
  background-repeat: no-repeat;
     background-position: center top;
    background-size: contain;
}


#four {
  grid-area:  1 / 5 / 6 / 6; 
  background-image: url('../import/img/4.gif');
  background-repeat: no-repeat;
     background-position: center top;
    background-size: contain;
}

#four:hover {
  grid-area:  1 / 5 / 6 / 6; 
  background-image: url('../import/img/4hov.gif');
  background-repeat: no-repeat;
     background-position: center top;
     background-size: contain;
}

#five {
  grid-area: 6 / 1 / 13 / 2;
  background-image: url('../import/img/5.png');
  background-repeat: no-repeat;
     background-position: center top;
     background-size: contain;
}

/*on one hover, change five*/
  #one:hover ~ #five {
  background-image: url('../import/img/5hovalt.gif');
  background-repeat: no-repeat;
     background-position: center top;
    background-size: contain;
 }

#six {
  grid-area:  10 / 2 / 13 / 4;
  background-image: url('../import/img/6alt.gif');
  background-repeat: no-repeat;
     background-position: center top;
       background-size: contain;
}

#six:hover {
  grid-area:  10 / 2 / 13 / 4;
  background-image: url('../import/img/6alt_hov.gif');
  background-repeat: no-repeat;
     background-position: center top;
    background-size: contain;
}

#seven {
  grid-area:  8 / 4 / 13 / 5;
  background-image: url('../import/img/7.gif');
  background-repeat: no-repeat;
     background-position: center top;
      background-size: contain;
}

#seven:hover {
  grid-area:  8 / 4 / 13 / 5;
  background-image: url('../import/img/7hov.gif');
  background-repeat: no-repeat;
     background-position: center top;
      background-size: contain;
}

/*on seven hover, change eight*/
#seven:hover ~ #eight {
  background-image: url('../import/img/8hov.gif');
  background-repeat: no-repeat;
     background-position: center top;
     background-size: contain;
 }

#eight {
  grid-area:  6 / 5 / 13 / 6; 
  background-image: url('../import/img/8.gif');
  background-repeat: no-repeat;
     background-position: center top;
    background-size: contain;
}

#eight:hover {
  grid-area:  6 / 5 / 13 / 6; 
  background-image: url('../import/img/8hov.gif');
  background-repeat: no-repeat;
     background-position: center top;
       background-size: contain;
}







#projectst {
  padding-left: 2vw;
  font-style: italic;
  font-size: 1.3em;
  color: rgba(37, 47, 255, 1);
  line-height: 1.5em;
}

#projectst a:hover {
 color: red;
}

#demo {

  display: flex;
  width: 100%;

}

#demo img {
  width: 20vw;
  height: 100%;
}











/*traversee*/











