* {
  box-sizing: border-box;
}


body {

/*background-color: rgba(249, 120, 120, 1.0); */
font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: normal;
background-color: ;
}

html{scroll-behavior:smooth}

#main_wrapper {

width: 100%;
min-height: 100%;
position: relative;
padding: 0px 40px;
top: 0px;
/*  border: 30px solid pink;
border-radius: 80px;
background-color: white;

*/
}

a {
  text-decoration: none;
  color: black;
}
header {
     display: flex;
      flex-direction: row;
      justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
 
  
    flex-wrap: wrap;
    font-size: 1.6em;
    height: 220px;
    text-align: center;
    align-items: center;
  
z-index: 1;
  padding: 20px 30px;
   gap: 0px 0px;


}

u {
  text-decoration: none;
  font-style: italic;
}
h1  {
font-family: platelet, sans-serif;
font-weight: 700;
font-style: normal;
} 

h1 strong {
font-family: platelet, sans-serif;
font-weight: 700;
font-style: normal;
text-transform: uppercase;
}


 

header a {
  color: black  ;
  text-align: center;
  text-decoration: none;
  
}

#logo{
  height: 180px;
  padding: 20px;
  width: auto;
  margin: 0px;
  transition: 0.2s all ease-in-out;
  background-color: white;
}

#modal {
  margin: 0px 10px 0px 10px;
  vertical-align: center;
  transition: 0.5s all ease-in-out;
  padding: 10px;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: lowercase;
  font-size: 0.9em;
  color: black;

}



#modal:hover a{

  color: #e61c60;

}


 .border {
  border: 2px solid black;
  padding: 0.3em 0.1em 0.3em 0.1em;
 
   transition: 0.5s all ease-in-out;
}

.border:hover {
  background-color: #F97878 ;

  transition: 0.5s all ease-in-out;
}

section {
  position: relative;
  top:300px;
}

#project {
  top: 0px;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  /*  grid-template-rows: 3fr 3fr 1fr;*/
    position: relative;
    width: 100%;
   /* height: 100%;*/
    top: 120px;
    overflow: hidden;
    margin: 0px auto;
    grid-gap: 20px 60px;


  
}

article {
  box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

article .span{
  margin-top: 10px;
 
}




h3 {

  font-size:2em;
  font-family: futura-pt, sans-serif;
font-weight: 400;
  font-style: normal;
  transition: 1s;
  line-height: 1.3em;
 letter-spacing: 0.05em;
  padding-top: 100px;
  margin: auto;
   margin-bottom: 100px;
  width: 80vw;
  text-align: left;
}


mark {

  font-weight: 500;
  background-color: white;
}


.imgwrap {
    display: inline-block;
    overflow: hidden;
  width: 100%;
}

.imgwrap img {

      transition: 1s;
}

.imgwrap img:hover {
    transform:scale(1.09);
      transition: 1s;

}



article figcaption {
  padding-top: 1em;
padding-left: 1em;
line-height: 1.2;
margin-bottom: 2.2em;
}

h5 {
  font-size: 1.8em;
 
  letter-spacing: 0.1em;
/*  border: 1px  solid green;*/
}

h6 {
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 0.3em;
}

img {
    width: 100%;
    height: 100%;
  height: auto;

}

button {
  opacity: 1;
  font-style: italic;
  z-index: 600;
  font-size: 1.1em;
  font: 'Anonymous Pro', monospace;
  line-height: 1;
  width: 100%;
  padding: 1em 0.5em;
  border: 0px;
  background-color: white;
letter-spacing: 2px;
transition: 0.2s all ease-in-out;
}

.title {
  opacity: 1;
  font-style: italic;

  z-index: 600;
  font-size: 1.4em;
  font: ''Anonymous Pro', monospace';
  line-height: 1;
  width: 100%;
  padding: 0.7em 0.7em;
  border: 0px;
  background-color: white;
  letter-spacing: 0.5px;
  transition: 0.2s all ease-in-out;
}

/*about section */
#apropos {
  width: 105vw;
    height: 100vh;
    overflow: scroll;
    position: fixed;
    left: -5vw;
    top: 0px;
    z-index: 3000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0);
    
}


#apropos p {
    width: 40vw;
    height: auto;
    margin: 100px auto;
    font-size: 1.3em;
    line-height: 1.3;
    color: black;
    padding: 30px 2em 20px 2em;
    vertical-align: top;
    text-align: left;
    background-color: white;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.1);
  }

 
#apropos a:link {

  color: black;
 
  text-decoration: none;
  font-style: normal;
  padding: 10px;
  margin:  20px 10px;
  font-size: 1em;
  align-content: center;
  transition: 0.5s all ease-in-out;
}


#apropos a:visited {
  color: black;
  text-decoration: none;
  transition: 0.5s all ease-in-out;
}
#apropos a:hover {
    color: black;
   background-color: #F97878;
}


.center {
   display: block;
   text-align: center;
   margin-top: 40px;
   margin-bottom: 20px;
}

footer {
  display: block;
  height: 150px;
  padding-top: 250px;
  background-color: white;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
   
}

  /* portfolio pages */
/*PORTFOLIO PAGES*/
.wtitle {
  text-align: center;
  font-family: 'platelet';
  text-transform: uppercase;
  font-size: 2.4em;
}


#next {
 margin-top: 20vh;
  width: 15vw;
  margin-left: auto;
  margin-right: auto;
 text-align: center;
 text-decoration: none;
 color: black;
}

#next:hover {
  color: #e61c60;
}

#up {
 margin-top: 45vh;
  width: 15vw;
  margin-left: auto;
margin-right: auto;
 text-align: center;
 text-decoration: none;
 color: black;
}

#up img {
  height: 200px;
}



#bg {
    background: url("../import/img/arrow.svg");
  width: auto;
    height: 200px;
     background-repeat: no-repeat;
     background-position: center;
}

#bg:hover {
    background: url("../import/img/arrow_red.svg");
    width: auto;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}


#next a {
  font-size: 2.5em;
  font-family: platelet, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

#next a:hover {
  color: #e61c60;
}

  #video {
    position: relative;
  
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    overflow: hidden;
      }

#banner {
    position: relative;
   padding: 15px;
   top: 100px;
    width: 100%;
height: 80vh;
margin-left: auto;
margin-right: auto;
overflow: hidden;
      }

/*PORTFOLOIPAGESPOTFOLIOPAGES
PORTFOLIOPAGES*/

#grid_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(10px, 2fr);
    height: auto;
    width: 100%;
    top: 0px;
    overflow: hidden;
    margin: 0px auto;
    grid-gap: 20px 60px;
    grid-auto-flow: row;
    width:100%;
  
    justify-content: center;
    align-content: center;

}

figcaption a {
  font-weight: 500;
}
figcaption a:hover {
    color: #e61c60;
}

#one {
 grid-column: 1/2 ;
  grid-row: 1/2;

}

#two {
 grid-column: 2/5 ;
  grid-row: 1/2;
position: relative;
}



#three {
 grid-column: 5/6 ;
  grid-row: 1/2;

}

#four {
  grid-column: 1/6;
  grid-row: 2/3;
  max-width: 100%;
}


#five {
  grid-column: 1/4;
  grid-row: 3/4;
  position: relative;
}




#six {
  grid-column: 4/6;
  grid-row: 3/4;
  position: relative;
}



#seven {

grid-column: 1/6;
grid-row: 4/5;
text-align: center;

}
/*COSTUMES*/

.fr1 {
  grid-column: 1/6;
text-align: center;
}

.fr2 {

grid-column-start: 1;
grid-column-end:   3;
grid-row: 2/4;
}

.fr4 {

grid-column-start: 1;
grid-column-end:   4;
grid-row: 5/6;
}


.fr3 {
grid-column-start: 4;
grid-column-end:   6;
grid-row: 5/6;

}

.table {
  padding: 1.2em;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 60px;
}


/*Derniere*/
.mind {
  grid-column: 1/6;
}

.left {
  grid-column: 1/3;
  grid-row: 4/6;
}

.script2 {
  grid-column: 3/6;
grid-row: 4/5;
}

.td {
  grid-column: 3/6;
  grid-row: 5/6;
}

.td2 {
  grid-column: 3/6;
  grid-row: 5/7;
}
.bts {
  grid-column: 1/3;
}

#grid_section p {
  font-size: 1.4em;
  text-align: left;
  line-height: 1.2em;
font-weight: 400;

}

.img1 {
max-width: 100%;
max-height: 100%;
width: 92%;
transform: rotate(1deg);

transition: 0.5s all ease-in-out;
}


.img1:hover{
            transform: scale(1.1) rotate(0deg);
        }


.img2 {
width: 100%;
width: 92%;
transform: rotate(-2deg);

transition: 0.5s all ease-in-out;
}

.img2:hover{
transform: scale(1.1) rotate(0deg);

}
.img3 {
  width: 100%;
  max-height: 100%;
  transition: 0.5s all ease-in-out;
}

/*.img3:hover{
transform: scale(1.1) rotate(0deg);
*/
.img4 {
  max-width: 100%;
  max-height: 100%;
  transition: 0.5s all ease-in-out;
}


.scale:hover {
  transform: scale(2.5) translateX(-40px);
  z-index: 1000;
}

.scale {
  z-index: 1000;
  transition: 0.5s all ease-in-out;
}


.scale1:hover {
  transform: scale(1.8) translateX(-220px);
  z-index: 1000;
}

.scale1 {
  z-index: 1000;
  transition: 0.5s all ease-in-out;
}



#imgs {
 
  border-radius: 50px;
  width: 100%;
}

